<!DOCTYPE html>
<html>
<head>
    <title>用户反馈回复</title>
    <meta charset="utf-8">
</head>
<body>
    <div style="border: 1px solid #ccc; width: 670px; height: 539px; margin: 0 auto;">
        <div style=" margin: 30px 40px;  ">
            <p style=" color: #2b2b2b;display: inline-block">尊敬的Joggle用户：</p>
            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;感谢您的反馈，“【${feedback.title!}】${feedback.content!}”问题平台回复如下：</p>
            <p>“${feedback.reply!}”</p>
            <br>
            <br>
            <p style="text-align: right">Joggle平台研发组 &nbsp;&nbsp; </p>
        </div>

        <div style=" margin:0 auto; width: 260px; margin-top: 50px;">
            <a href="${url!}" style="display:inline-block; height:35px; line-height: 35px; text-decoration: none; color: #ffffff; text-align: center; width: 260px; background: #3ab94f;">访问Joggle内网穿透</a>
        </div>
    </div>
</body>
</html>