.node-status input{
    outline: none !important;
}
.node-status .icheck-success{
    display: inline-block;
}
.node-status .pay-box{
    border: 1px solid rgba(208, 208, 208, 0.8);
    border-radius: 6px;
    padding-top: 0px;
}

.node-status .pay-box label:before{
    margin-top: 5px;
}
.node-status .pay-box label:after{
    margin-top: 15px;
    margin-left: 11px !important;
}
.node-status .pay-box label{
    display: inline-block;
    width: 160px;
    height: 54px;
    padding-top: 10px;
    padding-left: 40px !important;
}
.node-status .original-price{
    text-decoration: line-through;
}
.node-status .pay-box{
   user-select:none;
}.node-status .pay-box img{
    width: 100px;
}
.node-status .pay-box span{
    margin-top: 4px;
    margin-left: 10px;
    display: inline-block;
}
.node-status .item-domain{
    background: #dcf2a4;
    color: black;
}
.node-status .node-status{
    float: right; content:''
}
.node-status .node-status:before{
    content:''
}