<!-- Docs page layout -->
<div class="" id="invite">

    <div class="container index-textcenter">
        <h2 class="index-bullet-title" style="">邀请新用户得流量</h2>
        <p class="lead">邀请规则：邀请1名用户得<b style="color: #d53131">1G</b>流量，
            新注册用户得<b style="color: #d53131">1G</b>流量。</p>
        <p class="lead">感谢您的支持与关注！邀请二维码如下：</p>
        <div id="imgQRcode" style="margin: 0 auto; width: 256px;"></div>
        <br/><br/>
        <div style="width: 360px; margin: 0 auto;">
            <div class="input-group">
                <input id="inviteUrlInput" type="text" readonly ng-model="inviteUrl" class="form-control" aria-label="Text input with multiple buttons">
                <div class="input-group-btn">
                    <button ng-click="copyInviteUrl()" type="button" class="btn btn-success copyButton"
                            data-clipboard-target="#inviteUrlInput">复制链接</button>
                </div>
            </div>
        </div>
    </div>
</div>
