

#invite{
    padding-bottom: 50px;
}


#invite .masthead-links a{
    color:#ffffff

}
#invite .index-bullet-title{
    margin: 50px 0;
}
#invite .index-textcenter{
    text-align: center;
}
#invite .index-icon{
    width: 100px;
    margin: 0 auto;
}
