<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuweibi.bullet.device.mapper.DevicePeersMapper">

    <resultMap id="BaseResultMap" type="com.wuweibi.bullet.device.entity.DevicePeers">
        <!--@Table -->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="serverDeviceId" column="server_device_id" jdbcType="INTEGER"/>
        <result property="clientDeviceId" column="client_device_id" jdbcType="INTEGER"/>
        <result property="serverLocalPort" column="server_local_port" jdbcType="INTEGER"/>
        <result property="clientProxyPort" column="client_proxy_port" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>




    <select id="selectListPage" resultType="com.wuweibi.bullet.device.domain.DevicePeersVO">
        select
        <include refid="peersConfigSql" />
        from device_peers dp
        left join t_device dc on dc.id = dp.client_device_id
        left join t_device ds on ds.id = dp.server_device_id
        where dp.user_id = #{params.userId}
    </select>

    <sql id="peersConfigSql">
        distinct dp.`id`, dp.`user_id`, dp.`app_name`, dp.`server_device_id`, dp.`client_device_id`,
               dp.`server_local_port`, dp.`server_local_host`, dp.`client_proxy_port`,
               dp.`client_proxy_host`, dp.`remark`, dp.`status`, dp.`create_time`,
               dp.`update_time`,
               dp.`client_mtu`, dp.`server_mtu`, dp.`server_mtu` as mtu, dp.config_compress,
               dc.deviceId clientDeviceNo,
               (select intranet_ip from t_device_online do where do.deviceNo = dc.deviceId) clientDeviceIp,
               ds.deviceId serverDeviceNo,
            (select server_tunnel_id from t_device_online where deviceNo = dc.deviceId)  as clientDeviceTunnelId,
            (select server_tunnel_id from t_device_online where deviceNo = ds.deviceId)  as serverDeviceTunnelId
    </sql>

    <select id="selectPeersConfig" resultType="com.wuweibi.bullet.device.domain.DevicePeersConfigDTO">
        select
            <include refid="peersConfigSql" />
        from device_peers dp
        left join t_device dc on dc.id = dp.client_device_id
        left join t_device ds on ds.id = dp.server_device_id
        where dp.id = #{id}
    </select>


    <select id="selectListByDeviceNo" resultType="com.wuweibi.bullet.device.domain.DevicePeersConfigDTO">
        select
        <include refid="peersConfigSql" />
        from device_peers dp
        left join t_device dc on dc.id = dp.client_device_id
        left join t_device ds on ds.id = dp.server_device_id
        where dc.deviceId = #{deviceNo} or  ds.deviceId = #{deviceNo}
    </select>


</mapper>

