<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuweibi.bullet.device.mapper.DeviceOnlineLogMapper">

    <resultMap id="BaseResultMap" type="com.wuweibi.bullet.device.entity.DeviceOnlineLog">
        <!--@Table -->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="deviceId" column="device_id" jdbcType="INTEGER"/>
        <result property="macAddr" column="mac_addr" jdbcType="VARCHAR"/>
        <result property="intranetIp" column="intranet_ip" jdbcType="VARCHAR"/>
        <result property="publicIp" column="public_ip" jdbcType="VARCHAR"/>
        <result property="serverTunnelId" column="server_tunnel_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>



    <select id="selectWebPage" resultType="com.wuweibi.bullet.device.domain.DeviceOnlineLogVO">
        select dol.*
        from device_online_log dol
        where dol.user_id = #{params.userId}
        <if test="params.deviceId != null">
            and dol.device_id = #{params.deviceId}
        </if>
    </select>

</mapper>

