<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuweibi.bullet.device.mapper.DeviceProxyMapper">

    <resultMap id="BaseResultMap" type="com.wuweibi.bullet.device.entity.DeviceProxy">
        <!--@Table -->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="deviceId" column="device_id" jdbcType="INTEGER"/>
        <result property="deviceProxyPort" column="device_proxy_port" jdbcType="INTEGER"/>
        <result property="domainId" column="domain_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
        
</mapper>

