<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuweibi.bullet.orders.mapper.OrdersRefundMapper">

    <resultMap id="BaseResultMap" type="com.wuweibi.bullet.orders.entity.OrdersRefund">
        <!--@Table -->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orderId" column="order_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="refundNo" column="refund_no" jdbcType="VARCHAR"/>
        <result property="refundAmount" column="refund_amount" jdbcType="OTHER"/>
        <result property="priceAmount" column="price_amount" jdbcType="OTHER"/>
        <result property="amount" column="amount" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="refundTime" column="refund_time" jdbcType="TIMESTAMP"/>
        <result property="tradeNo" column="trade_no" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="reason" column="reason" jdbcType="VARCHAR"/>
    </resultMap>
        
</mapper>

