<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuweibi.bullet.res.mapper.ResourcePackageMapper">

    <resultMap id="BaseResultMap" type="com.wuweibi.bullet.res.entity.ResourcePackage">
        <!--@Table -->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="INTEGER"/>
        <result property="price" column="price" jdbcType="OTHER"/>
        <result property="domainNum" column="domain_num" jdbcType="INTEGER"/>
        <result property="portNum" column="port_num" jdbcType="INTEGER"/>
        <result property="flowNum" column="flow_num" jdbcType="INTEGER"/>
        <result property="deviceNum" column="device_num" jdbcType="INTEGER"/>
        <result property="p2pNum" column="p2p_num" jdbcType="INTEGER"/>
        <result property="wolEnable" column="wol_enable" jdbcType="INTEGER"/>
        <result property="proxyEnable" column="proxy_enable" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="days" column="days" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="selectAdminList" resultType="com.wuweibi.bullet.res.domain.ResourcePackageVO">
        select
            rp.id, rp.name, rp.level, rp.price, rp.domain_num, rp.port_num, rp.flow_num, rp.device_num, rp.p2p_num,
            rp.wol_enable, rp.proxy_enable, rp.status, rp.create_time, rp.update_time, rp.days, rp.concurrent_num, rp.sence
            ,rp.broadband_rate
        from resource_package rp
        <where>
            <if test="params.name != null and params.name != ''">
                and rp.name like concat('%',#{params.name},'%')
            </if>
            <if test="params.level != null">
                and rp.level = #{params.level}
            </if>
            <if test="params.status != null">
                and rp.status = #{params.status}
            </if>

        </where>
        order by rp.level asc, rp.status desc
    </select>


    <select id="selectWebList" resultType="com.wuweibi.bullet.res.domain.ResourcePackageListVO">
        select
        rp.id, rp.name, rp.level, rp.price, rp.domain_num, rp.port_num, rp.flow_num, rp.device_num, rp.p2p_num,
        rp.wol_enable, rp.proxy_enable, rp.status, rp.create_time, rp.update_time, rp.days, rp.concurrent_num, rp.sence
        ,rp.broadband_rate
        from resource_package rp
        <where>
            <if test="params.name != null and params.name != ''">
                and rp.name like concat('%',#{params.name},'%')
            </if>
            <if test="params.level != null">
                and rp.level = #{params.level}
            </if>
            and rp.status = 1
        </where>
        order by rp.level asc, rp.status desc
    </select>


</mapper>

