<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuweibi.bullet.res.mapper.UserPackageMapper">

    <resultMap id="BaseResultMap" type="com.wuweibi.bullet.res.entity.UserPackage">
        <!--@Table -->
        <result property="userId" column="user_id" />
        <result property="resourcePackageId" column="resource_package_id" />
        <result property="name" column="name" />
        <result property="level" column="level" />
        <result property="wolEnable" column="wol_enable" />
        <result property="proxyEnable" column="proxy_enable" />
        <result property="createTime" column="create_time" />
        <result property="domainUse" column="domain_use" />
        <result property="portUse" column="port_use" />
        <result property="flowUse" column="flow_use" />
        <result property="deviceUse" column="device_use" />
        <result property="broadbandRate" column="broadband_rate" />
        <result property="concurrentNum" column="concurrent_num" />
        <result property="startTime" column="start_time" />
        <result property="endTime" column="end_time" />
        <result property="peerUse" column="peer_use" />
    </resultMap>
        
</mapper>

