<!--
    @title 发布秘密页面
    @author marker
    @createTime 2016-08-04

-->
<header class="demo-bar">
    <h1>登 录</h1>

    <a class="btn-menu-bar btn-menu-list">
        <i class="am-menu-toggle-icon am-icon-bars"></i>
    </a>
</header>

<form name="myForm" class="am-form">
    <fieldset>
        <div class="am-form-group">
            <label>账号</label>
            <input type="text" name="name" ng-model="user.name" required>
            <div class="errors">
            </div>
        </div>
        <div class="am-form-group">
            <label>密码</label>
            <input type="password" name="pass" ng-model="user.pass" required>
            <a class="login-forget-pass" href="forget.html">忘记秘密?</a>
        </div>
        <p>
            <button type="submit" ng-click="login()" class="am-btn am-btn-primary btn-login">登 录</button>
        </p>
        <div class="">
            我还没有账号,<a href="register.html">去注册</a>
        </div>
    </fieldset>
</form>