<configuration scan="false" scanPeriod="30 seconds">

    <!-- 基础配置 -->
    <include resource="logback-common.xml"/>

    <property name="PROJECT_HOME" value="${java.bullet.home.dir}/logs/client" />

    <!-- 文件输出 -->
    <include resource="logback-fileout.xml"/>



    <!--  开发和测试日志-->
    <springProfile name="!prod">
        <root level="debug">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="DEBUG-ROLLING"/>
            <appender-ref ref="INFO-ROLLING"/>
            <appender-ref ref="ERROR-ROLLING"/>
        </root>


    </springProfile>

    <!-- 线上日志-->
    <springProfile name="prod">
        <root level="debug">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="DEBUG-ROLLING"/>
            <appender-ref ref="INFO-ROLLING"/>
            <appender-ref ref="ERROR-ROLLING"/>
        </root>
    </springProfile>


    <logger name="org.springframework.web.servlet" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="debug"></logger>
    <logger name="org.springframework.data.redis" level="INFO"></logger>
    <logger name="org.springframework.beans.factory.support" level="INFO"></logger>





</configuration>