<div class="about-wrap">
	<div class="container" style="height:150px; color:#fff;">
		<br />
    	<h3>关于我们</h3>
    	<p>我们是一个年轻人的团队，能接受新鲜的事物。将给广大用户带来不一样的软件体验。</p>
    
  	</div>
    <div class="container" >
	 	<div class="about-body">
	        <div class="about-mission">
	            <h4>我们的理念</h4>
	
	            <p>打造一款伟大的团队协同工具，用工具改变人们团队工作的方式，提升团队效率。</p>
	            <ol>
	                <li><span>1</span>用户第一，其他一切水到渠成</li>
	                <li><span>2</span>专心致志将一件事做到极致</li>
	                <li><span>3</span>赚钱不必作恶</li>
	            </ol>
	        </div>
	
	
	        <div class="about-team">
	            <h4>Worktile团队（隶属于北京易成星光科技有限公司）是一支崇尚简单，自由、开放的团队，为了相同的目标聚集在这里。</h4>
	            <ul>
	                <li><img src="https://dn-wtbox.qbox.me/img/about/about-team-1.png" alt=""></li>
	                <li><img src="https://dn-wtbox.qbox.me/img/about/about-team-2.png" alt=""></li>
	                <li><img src="https://dn-wtbox.qbox.me/img/about/about-team-3.png" alt=""></li>
	            </ul>
	        </div>
	    </div>
  	</div>
   
    <footer id="footer-outer" class="hidden-xs">
    <div class="columns">
        <ul class="column mr_210">
            <li><h2>产品</h2></li>
            <li><a target="_self" href="/tour">功能特性</a></li>
            <li><a target="_self" href="/security">数据安全</a></li>
            <li><a target="_self" href="/plan">付费方案</a></li>
            <li><a target="_self" href="/mobile">移动版本</a></li>
        </ul>
        <ul class="column mr_210">
            <li><h2>媒体</h2></li>
            <li><a target="_self" href="/uservoice">用户怎么说</a></li>
            <!--<li><a target="_self" href="/customers">他们也在用</a></li>-->
            <!--<li><a target="_self" href="/press">媒体报道</a></li>-->
        </ul>
        <ul class="column mr_210">
            <li><h2>支持</h2></li>
            <li><a target="_self" href="/help">帮助中心</a></li>
            <li><a target="_self" href="/guide">用户指南</a></li>
            <li><a target="_self" href="/videos">帮助视频</a></li>
            <li><a target="_self" href="/blog">官方博客</a></li>
            <li><a target="_self" href="/club">用户社区</a></li>
            <li><a target="_self" href="/feedback">在线反馈</a></li>
        </ul>
        <ul class="column">
            <li><h2>更多</h2></li>
            <li><a target="_self" href="/about">关于我们</a></li>
            <li><a target="_self" href="/contact">联系我们</a></li>
            <!--<li><a href="javascript:;">工作机会</a></li>-->
            <li><a target="_self" href="/privacy">隐私声明</a></li>
            <li><a target="_self" href="/terms">服务条款</a></li>
        </ul>
    </div>
    <div class="text-center">
        © 2014 worktile.com &nbsp; 京ICP备13017353号-3 &nbsp; 京公网安备11010802012357号
    </div>
</footer>
</div>