<!-- Docs page layout -->
<div class="bs-docs-header" id="content">
  <div class="container">
    <h1 ng-bind="res.t('home.banner.title')"></h1>
    <p ng-bind="res.t('home.banner.desc')"></p>
    <p>
    	<a href="#/user/device" ng-show="user" class="btn btn-default" ng-bind="res.t('home.btn.device')"></a>
    	<!--<a href="#/flashchat/index" class="btn btn-default" ng-bind="res.t('home.btn.flashchat')"></a>-->
    	<!--<a href="#/wishwall/build" class="btn btn-default" ng-bind="res.t('home.btn.wishwall')"></a>-->
        <!--<a href="#/app/video/index" class="btn btn-default" ng-bind="res.t('home.btn.onlinevideo')"></a>-->


      <a href="#/user/device" class="btn btn-default" ng-bind="res.t('home.btn.download')"></a>
    </p>
  </div>
</div>