<!-- Docs page layout -->
<div class="bs-docs-header" id="content">
  <div class="container">
    <h1 ng-bind="res.t('home.banner.title')"></h1>
    <p ng-bind="res.t('home.banner.desc')"></p>
    <p>
    	<a href="flashchat/index.html" class="btn btn-default" ng-bind="res.t('home.btn.flashchat')"></a> 
    	<a href="wishwall/build.html" class="btn btn-default" ng-bind="res.t('home.btn.wishwall')"></a>
        <a href="app/video/index.html" class="btn btn-default" ng-bind="res.t('home.btn.onlinevideo')"></a>
    </p>
  </div>
</div>