<included>
    <property name="LOG_PATH" value="${log.dir:-./}" />
    <property name="PROJECT_HOME" value="${LOG_PATH}" />
    <property name="MAX_FILE_SIZE" value="10mb" />
    <property name="MAX_HISTORY" value="5" />
    <property name="MYBATIS_MAX_HISTORY" value="${MAX_HISTORY}" />

    <property name="DEBUG_MAX_HISTORY" value="${MAX_HISTORY}" />
    <property name="INFO_MAX_HISTORY" value="${MAX_HISTORY}" />
    <property name="ERROR_MAX_HISTORY" value="${MAX_HISTORY}" />

    <property name="PATTERN" value="[%d]-%c-%-5p [%thread] | %msg%n"/>
    <property name="logNamePrefix" value="bullet"/>


</included>