
body{
	font-family: "微软雅黑"	
}
a{font-size: 13px;}




.cb{
	clear: both;
}

.form_message{
	color:red;
}



.bs-docs-nav .navbar-header .navbar-brand{
	font-size: 18px;
}
.bs-docs-nav{
	background: #101010;
	margin-bottom:0px; 
}
.bs-docs-nav a{
	color: #E0E0E0; font-size: 14px;
}
.bs-docs-nav .nav>li>a:hover, .nav>li>a:focus{
	background: #000;
}

.bs-docs-header{
	background: url(images/tour_bg.jpg);
	color:#aaa;
	height: 300px;
}
.chat-message ul,.chat-message ol,.chat-message dl{ padding-left: 20px;}
ul.nav>li.divider-vertical {
	border-style: solid;
	border-width: 1px;
	opacity: .5;
	height: 50px;
	border-left-color: #111415;
	border-right-color: #646668;
}

.inner{
	width:400px;
	margin: 0 auto; 
	margin-top:80px;
}

.message{
	color: red;
}

.about-wrap{
	margin-top:0px;
	background: url("images/banner.png") no-repeat;
}

.language{
 	margin-top: 5px;
}
.language > a {
	cursor: pointer;
	color: #3b5998;
	margin: 0 8px;
}
.footerhr{
	margin-top: 5px;
	border-top: 1px solid #ccc;
	height: 20px;
}

footer>.big{
	text-align: center;
}
footer>.big>a{margin: 0 5px; 
	color:#666;}

	
	
/* 心愿墙 */
.wishwall_wrapper{ 
	background: #FAFAFA;
	position: relative;
	background-position:center;  
	background-size:cover; 
  	-moz-user-select: none; /*火狐*/
   	-webkit-user-select: none;  /*webkit浏览器*/
   	-ms-user-select: none;   /*IE10*/
   	-khtml-user-select: none; /*早期浏览器*/
  	user-select: none;
}	
	
	
.wishwall_cloud{
	background: url(images/4fbcae48e25c8.png);
	width: 255px;
	height: 150px;
}	

.wishwall_wrapper > .wish{
	position: absolute;
}
.wish-edit{
	 overflow:hidden;
}
.wishwall_wrapper > .wish > .icon{
	width: 60px;
	height: 60px;
	border-radius:30px;
	border: 5px #fff solid;
	box-shadow:1px 1px 1px #1D1D1D;
	cursor: pointer;
}
.wishwall_wrapper > .wish > .msg{
	display:inline-block;  
 	-webkit-box-shadow:0 0 10px rgb(213, 200, 200) inset; 
 	-moz-box-shadow:0 0 10px rgb(213, 200, 200) inset;
	height:100%;
	background: #fff;
	vertical-align: top;
	word-break:break-all;
	border-radius:6px;
	padding: 8px
}
.msg-textarea{
	border: none;
	overflow-y:hidden;
	width: 100%;
	height: 100%;
	resize: none
}
	
	
.retry-fetch{
	margin: 10px;
}
.flashchat-title{
	margin:10px auto;
	float: left;
}
.flashchat-title-line{
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	
}
.flashchat-left{float: left; width:720px;
	background: #fff;
	height: 350px;
	
}
.flashchat-right{float: left; width:300px;
	background: #ccc;
	height: 550px; 
	margin-left: 20px;
}

.chat-message{
	border: 1px solid #ccc;
	height: 300px;
	overflow-y:scroll;
	width:100%;
}
.chat-message-inner{
	margin: 15px 10px;
}
.chat-edit{
	margin-top: 10px;
	width:720px;
}
.chat-input{
	width: 100%;
	height: 120px;
}
.chat-send{
	height: 30px;
	width: 100px;
	float: right;
	
}
.chat-edit-bar{
	margin-top: 10px;
}
.mt50{
	margin-top: 100px;
	margin-bottom: 100px;
}
.mtop50{margin-top: 100px;}


.face-input{
	width: 100%;
	outline: none;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
}


.msg-you{
	width: 100%;
	margin-bottom: 10px;
} 
.msg-me{
 	width: 100%;
	margin-bottom: 10px;
}

.msg-left{
	float: left;
	width: 30px;
}
.msg-me-right{
	float: left;
	width: 30px;
	
}
.msg-me-left{
	margin-right:10px;
	float: left;
	width: 640px;
}
.msg-right{
	margin-left:10px;
	float: left;
	width: 640px;
}
.msg-me-name{
	float: right;
	font-size: 12px;
	color: #808080; 
	margin-bottom: 5px;
}
.msg-name{
	font-size: 12px;
	color: #808080; 
	margin-bottom: 5px;
}
.msg-me-content{
	display:inline-block;
	float: right;
 	border: 1px solid #ccc;
	border-radius:5px;
	padding: 3px 10px;
}
.msg-content{
	display:inline-block;
	border: 1px solid #ccc;
	border-radius:5px;
	padding: 3px 10px;
}
.msg-content p{ 
	margin:0;
}
.msg-cb{
	clear: both;
}





.thirdparty_title{
text-align: center; border-bottom: 1px solid #E8E8E8; padding-bottom:10px; color:#7F7F7F;
}

.login_with_qq:hover{
	background: #ccc;
}
.login_with_thirdparty{
	display:inline-block;
	border: 1px solid #ccc;
	border-radius: 50px;
	width:60px;
	height:60px;
	padding:5px 13px;
	font-size: 30px;
	color:#50A850;
	background: #F2F2F2;
}
 

.wishwall_from{
	background: rgba(0,0,0,0.5);
	padding-left: 10px;
	padding-right: 25px;
	color: #fff;
	margin: 50px 0 ;
	border: 1px solid #777777;
}

.wishwall_title{
	text-align: center;
	margin: 40px 0px;
}

 .wishwall_style{
	padding-left: 0;
 }
 .wishwall_style li:nth-child(3n+1){
	margin-left: 0px;
 }
.wishwall_style li{
	list-style-type: none; 
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 12px;
	
}
.wishwall_style li .__item{
	height: 80px;
	width: 135px;
	background: #F2F2F2;
	border: 2px solid #ccc;
	text-align: center;
	line-height: 80px;
	font-size: 30px;
	color: #8E8E8E;
	cursor: pointer;
}