.user-head{
    width: 120px;
    margin: 28px auto;
}
.user-head img{
    width: 120px;
    height: 120px; border-radius: 60px;

}
.user-head .user-info{
    color: white;
    text-align: center;
    margin-top: 10px;
}
.user-head .user-info a{
    cursor: pointer;
}

.btn-menu-bar{
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
}

.user-head-circle{
    background: #ccc;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: 28px auto;
    text-align: center;
    line-height: 120px;
    cursor: pointer;
}





.demo-bar {
    background: #3bb4f2;
    line-height: 29px;
}

.demo .demo-header, .demo-bar {
    color: #FFF;
    padding: 6px;
    z-index:111;
}
.demo-bar, .m .demo-header {
    box-shadow: 0 0 3px rgba(0,0,0,.15);
}
.demo-bar h1 {
    font-size: 20px;
}
.demo .demo-header h1, .demo-bar h1 {
    margin: 0;
    font-weight: 400;
    text-align: center;
}
.profile-line{
    height:20px;
}


.btn-back {
    display: inline-block;
    width: 44px;
    height: 43px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -21.5px;
    text-align: center;
    line-height: 43px;
    cursor: pointer;
}


form .errors .error{
    color: red;
    font-size: 13px;
}
.am-form-group .ng-invalid  {
    border-color: crimson !important;
}
.am-form-group .ng-pristine {
    border-color: #e4e4e4 !important;

}


/** 拉动组件样式 */
.dropload-up,.dropload-down{
    position: relative;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    /* 开启硬件加速 */
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
}
.dropload-down{
    height: 50px;
}
.dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.dropload-load .loading{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 6px;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/** 拉动组件样式  -end */