<div class="container" id="register">
	<div class="row">
	  <div class="col-md-7">
		  <img src="./resource/images/register/register.jpg" style="width: 100%; margin-top:3em" />
	  </div>
	  <div class="col-md-5">

		<form class="form-horizontal mt50" role="form">
			<div class="activity">
				<span class="blink">New活动：</span>注册即可获赠1G流量&7天雪花二级域名
			</div>
			<br/>
			<input ng-model="user.icon" type="hidden" />
	      <div class="form-group">
		    <label class="col-sm-3 control-label" ng-bind="res.t('register.email')"></label>
		    <div class="col-sm-9">
		      <input type="text" ng-model="user.email" class="face-input" placeholder="" 
		      ng-focus="emailMsg=''" />
		      <span class="form_message" >{{emailMsg}}</span>
			  <br/><span>请填写可接收邮件的邮箱地址</span>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-3 control-label" ng-bind="res.t('register.nickname')"></label>
		    <div class="col-sm-9">
		      <input type="text" ng-model="user.nickname" class="face-input" placeholder=""/>
				<span class="form_message" >{{nicknameMsg}}</span>
		    </div>
		  </div>


		  <div class="form-group">
		    <label class="col-sm-3 control-label" ng-bind="res.t('register.password')"></label>
		    <div class="col-sm-9">
		      <input type="password" ng-model="user.password" class="face-input" placeholder=""
		      ng-focus="passwordMsg=''" 
		      >
		      <span class="form_message" >{{passwordMsg}}</span>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-3 control-label" ng-bind="res.t('register.password2')"></label>
		    <div class="col-sm-9"> 
		      <input type="password" ng-model="password2" class="face-input" placeholder=""
		       ng-focus="password2Msg=''" 
		      >
		      <span class="form_message" >{{password2Msg}}</span>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-3 col-sm-9">
				<div class="checkbox icheck-emerland">
					<input type="checkbox" ng-model="user.agree" checked="" id="emerland">
					<label for="emerland">
						<a href="#/user/agreement" target="_blank"><span ng-bind="res.t('register.agree')"></span></a>
					</label>
				</div>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button ng-click="reg()" class="btn btn-success btn-block">{{res.t('user.register')}}</button>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10" style="visibility: hidden">
		    	<p class="thirdparty_title">使用三方平台账号登录</p>
			    <div class="col-sm-3"> 
			       <a target="_self" href="/thirdparty/qq/login.face">
			       	  <div class="login_with_thirdparty"><i class="fa fa-qq"></i></div>
			       </a> 
			    </div>
			    <div class="col-sm-3"> 
			       <a target="_self" href="/thirdparty/qq/login.face">
			       	  <div class="login_with_thirdparty"><i class="fa fa-weibo"></i></div>
			       </a> 
			    </div>
			    <div class="col-sm-3"> 
			       <a target="_self" href="/thirdparty/qq/login.face">
			       	  <div class="login_with_thirdparty"><i class="fa fa-wechat"></i></div>
			       </a> 
			    </div>
			    <div class="col-sm-3"> 
			       <a target="_self" href="/thirdparty/qq/login.face">
			       	  <div class="login_with_thirdparty"><i class="fa fa-twitter"></i></div>
			       </a> 
			    </div>
			    
			 </div>
		  </div> 
		</form>
	  </div>
	</div>
</div>




<div id="registerModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">登录</h4>
      </div>
      <div class="modal-body">
      	
        <p>
        	<span ng-bind="user.email"></span>
        </p>
      	<p style="text-align: center; margin: 30px;">
        	 确认密码： 
        </p>
      </div>
      <div class="modal-footer">
        <a ng-click="confirmation()" class="btn btn-default">确定注册</a>
        <a ng-click="cancel()"  class="btn btn-default">取消</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
