#loginTitle{
    font-size: 30px;
}

.login-page .inner2{
    margin: 0 auto;
    margin-top:80px;
}
.login-page .single-panel-body{
    margin: 0 30px;
}


@media (max-width: 767px)
{

    .single-panel{
        /*margin: 0 30px;*/
    }

}

