<!-- Docs page layout -->
<div class="" id="download">

    <div class="min-banner download-banner">
        <div class="container">
            <div class="row banner-text">
                <h1>下载中心</h1>
                <p>无论您身处何地，都可以使用电脑或您的移动设备，通过Bullet访问内网服务器。</p>
            </div>
        </div>
    </div>



    <div class="container index-textcenter">
        <h2 class="index-bullet-title">Bullet Client [客户端]</h2>
        <p class="index-bullet-desc">Bullet Client 是一个内网服务器的代理程序。</p>

        <div class="row index-textcenter-bg">
            <div class="col-sm-3 download-item">
                <div class="index-icon">
                    <i class="fa fa-windows"></i>
                </div>
                <h3><a href="https://gitee.com/marker/bullet/attach_files/350651/download" class="btn btn-default">Windows</a></h3>
                <p>
                    版本：v1.2.0 <br>
                </p>
            </div>
            <div class="col-sm-3 download-item">
                <div class="index-icon">
                    <i class="fa fa-linux"></i>
                </div>
                <h3><a href="https://gitee.com/marker/bullet/attach_files/350650/download" target="_blank" class="btn btn-default">Linux</a></h3>
                <p>
                    版本：v1.2.0 <br>
                </p>
            </div>
            <div class="col-sm-3 download-item">
                <div class="index-icon">
                    <i class="fa fa-apple"></i>
                </div>
                <h3><a href="https://gitee.com/marker/bullet/attach_files/350652/download" class="btn btn-default">Mac</a></h3>
                <p>
                    版本：v1.2.0 <br>

                </p>
            </div>
            <div class="col-sm-3 download-item">
                <div class="index-icon">
                    <img src="resource/images/icon/icon-docker.png" />
                </div>
                <h3><a href="https://help.joggle.cn/docs/deploy/docker-deploy-client.html" target="_blank" class="btn btn-default">Docker</a></h3>
                <p>
                    版本：V0.0.2 <br>
                </p>
            </div>
        </div>
    </div>




    <div class="container index-textcenter">
        <h2 class="index-bullet-title">Bullet Server [服务端]</h2>
        <p class="index-bullet-desc">Bullet Server 主要提供UI操作界面，控制客户端的代理程序。

            下载地址：<a href="https://pan.baidu.com/s/1Xy5_R_ezPFft9vsZrLNBSA" target="_blank">
                https://pan.baidu.com/s/1Xy5_R_ezPFft9vsZrLNBSA
            </a> 密码: wq2e
        </p>

        <div class="row index-textcenter-bg">
            <div class="col-sm-3 download-item">
                <div class="index-icon">
                    <i class="fa fa-windows"></i>
                </div>
                <h3><a href="" class="btn btn-default">Windows</a></h3>
                <p>
                    版本：v1.2.0 <br>
                </p>
            </div>
            <div class="col-sm-3 download-item">
                <div class="index-icon">
                    <i class="fa fa-linux"></i>
                </div>
                <h3><a href="" class="btn btn-default">Linux</a></h3>
                <p>
                    版本：v1.2.0 <br>
                </p>
            </div>
            <div class="col-sm-3 download-item">
                <div class="index-icon">
                    <i class="fa fa-apple"></i>
                </div>
                <h3><a href="" class="btn btn-default">Mac</a></h3>
                <p>
                    版本：v1.2.0 <br>
                </p>
            </div>
            <div class="col-sm-3 download-item">
                <div class="index-icon">
                    <img src="resource/images/icon/icon-docker.png" />
                </div>
                <h3><a href="" target="_blank" class="btn btn-default">Docker</a></h3>
                <p>
                    版本：未发布 <br>
                </p>
            </div>
        </div>
    </div>
    <div style="height: 60px"></div>





</div>