<div style="margin-top:30px; "></div>
<div class="container">

	<div class="row">
		<div class="col-xs-12">
			<ol class="breadcrumb">
				<li><a href="#">首页</a></li>
				<li><a href="#/user/profile">我的资料</a></li>
			</ol>
		</div>
	</div>

    <div class="row">
        <div class="col-md-6">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-3" style="text-align: right"><span ng-bind="res.t('register.email')"></span>:</label>
					<div class="col-sm-9">
						<div type="email" ng-bind="user.email"
							 placeholder="{{res.t('register.email')}}"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3" style="text-align: right"><span ng-bind="res.t('register.nickname')"></span>:</label>
					<div class="col-sm-9">
						<span type="text" ng-bind="user.nickname" ></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3" style="text-align: right">余额:</label>
					<div class="col-sm-9">
						<div type="text" ng-bind="user.balance" ></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3" style="text-align: right">流量:</label>
					<div class="col-sm-9">
						<span type="text" ng-if="user.userFlow >= 100">{{user.userFlow}} MB</span>
						<span type="text" ng-if="user.userFlow < 100 && user.userFlow >= 50" style="color: #ff7700">{{user.userFlow}} MB</span>
						<span type="text" ng-if="user.userFlow < 50" style="color: red">{{user.userFlow}} MB</span>

			            <a href="#/user/flow/cash" class="btn btn-default">购买流量</a>

					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3" style="text-align: right"><span>实名认证</span>:</label>
					<div class="col-sm-9">
						<span class="label label-success" ng-if="user.userCertification==1">通过</span>
						<span class="label label-default" ng-if="user.userCertification==0">未认证</span>
						<span class="label label-danger" ng-if="user.userCertification==2">认证拒绝</span>
						<br/><br/>
						<a href="#/user/certification" ng-if="user.userCertification != 1" class="btn btn-default">实名认证</a>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3" style="text-align: right" >上次登录时间:</label>
					<div class="col-sm-9">
						<div type="text" ng-bind="user.loginTime" ></div>
					</div>
				</div>
			</form>
        </div>

        <div class="col-md-6">

			<a href="" ng-click="modifyPasswordDialog()">修改密码</a>
        </div>

    </div>
</div>




<!-- 编辑端口弹出框 -->
<div id="modifyPasswordDialog" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">修改密码</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="newP" class="col-sm-2 control-label">旧密码</label>
						<div class="col-sm-6">
							<input id="newP" type="password" ng-model="entity.oldPassword"  class="form-control" placeholder="请输入旧密码" />
						</div>
						<div class="col-sm-4"></div>
					</div>
					<div class="form-group">
						<label for="oldP" class="col-sm-2 control-label">新密码</label>
						<div class="col-sm-6">
							<input id="oldP" type="text" ng-model="entity.newPassword"  class="form-control" placeholder="请输入新密码" />
						</div>
						<div class="col-sm-4"></div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<a ng-click="save()" class="btn btn-default">保存</a>
				<a ng-click="closeModifyPasswordDialog()"  class="btn btn-default">取消</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
