.pay-result input{
    outline: none !important;
}
.pay-result .icheck-success{
    display: inline-block;
}
.pay-result .pay-box{
    border: 1px solid rgba(208, 208, 208, 0.8);
    border-radius: 6px;
    padding-top: 0px;
}

.pay-result .pay-box label:before{
    margin-top: 5px;
}
.pay-result .pay-box label:after{
    margin-top: 15px;
    margin-left: 11px !important;
}
.pay-result .pay-box label{
    display: inline-block;
    width: 160px;
    height: 54px;
    padding-top: 10px;
    padding-left: 40px !important;
}
.pay-result .original-price{
    text-decoration: line-through;
}
.pay-result .pay-box{
   user-select:none;
}.pay-result .pay-box img{
    width: 100px;
}
.pay-result .pay-box span{
    margin-top: 4px;
    margin-left: 10px;
    display: inline-block;
}