<div style="margin-top:30px; "></div>
<div class="container orders-list">

    <div class="row">
        <div class="col-xs-12"><ol class="breadcrumb">
			<li><a href="#">首页</a></li>
			<li><a href="#/user/orders/list">我的订单</a></li>
		</ol>
        </div>
    </div>

    <div class="row">
<!--         <div class="col-md-2"> -->
<!--         </div> -->
        <div class="col-md-12">
            <div class="bs-example" data-example-id="hoverable-table">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th width="60">#</th>
                      <th width="170">订单号</th>
                      <th width="80">资源名</th>
                      <th width="120">产品名称</th>
                      <th width="80">价格</th>
                      <th width="80">状态</th>
                      <th width="160">时间</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in page.records">
                      <th scope="row">{{$index + 1}}</th>
                      <td>
                        <a href ng-click="">{{item.orderNo}}</a>
                      </td>
                      <td ng-bind="item.resourceTypeName"></td>
                      <td ng-bind="item.name"></td>
                      <td>{{item.payAmount}}</td>
                      <td>
                        <span ng-if="item.status == 1" class="label label-success">{{item.statusName}}</span>
                        <span ng-if="item.status != 1" class="label label-default">{{item.statusName}}</span>
                      </td>
                      <td>{{item.createTime}}</td>
                      <td>
<!--                         <a ng-if="item.status == 0" href >取消</a> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
                <div class="text-center">
                    <ul id="pagination" class="pagination"></ul>
                </div>
        </div>



    </div>
</div>
