<!-- Docs page layout -->
<div class="" id="hardware">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>《超低功耗资源再利用计划》</h3>
                <p>该产品能够让您快速体验内网穿透效果，并且不用担心耗电问题。同时默认开启ssh，您可以登录到系统安装其他应用。<br/>
                    够买渠道：邮件联系，闲鱼购买</p>
            </div>
        </div>
    </div>


    <div class="mainer-parameter">

        <div class="banner-parameter">
            <div class="parameter-img"><img src="resource/images/hardware/img_1.png"></div>
            <div class="parameter-img-tab">
                <ul class="parameter-img-tab-list clear">
                    <li><i class="icon-parameter-blue"></i><p>科技蓝</p></li>
                    <li><i class="icon-parameter-black"></i><p>曜石黑</p></li>
                    <li><i class="icon-parameter-orange"></i><p>爱马仕橙</p></li>
                </ul>
            </div>
            <div class="parameter-num">
                <div class="parameter-num-list">
                    <h4>1000M网口</h4>
                    <p>稳定的网络速度</p>
                </div>
                <div class="parameter-num-list">
                    <h4>1GB DDR3</h4>
                    <p>超大内存，运行更稳定</p>
                </div>
                <div class="parameter-num-list">
                    <h4>USBx2</h4>
                    <p>随时扩容空间</p>
                </div>
                <div class="parameter-num-list">
                    <h4>HDMI</h4>
                    <p>不支持使用</p>
                </div>
                <div class="parameter-num-list">
                    <h4>CPU 4核 1.5GHz</h4>
                    <p>晶晨S805 4核处理器</p>
                </div>
                <div class="parameter-num-list">
                    <h4>超低功耗</h4>
                    <p>5瓦左右，相当于机顶盒的耗电量</p>
                </div>
            </div>
        </div>

        <div class="parameter-data">
            <table class="parameter-table">
                <tbody><tr>
                    <td colspan="2">产品尺寸/重量</td>
                    <td>145*90*43mm<br>重量：350g</td>
                </tr>
                <tr>
                    <td colspan="2">材质</td>
                    <td>阳极氧化铝合金机身+透明PC面板</td>
                </tr>
                <tr>
                    <td colspan="2">操作OS</td>
                    <td>Linux（Armbain 内置Joggle客户端)</td>
                </tr>
                <tr>
                    <td colspan="2">官方指导价</td>
                    <td>原价：¥599 ，<span style="color:darkred">资源利用价：¥80</span></td>
                </tr>
                <tr>
                    <td rowspan="3">硬件配置</td>
                    <td>CPU</td>
                    <td>晶晨S805 ARM四核 1.5GHz</td>
                </tr>
                <tr>
                    <td>RAM</td>
                    <td>1GB DDR3</td>
                </tr>
                <tr>
                    <td>ROM</td>
                    <td>8GB eMMC</td>
                </tr>
                <tr>
                    <td rowspan="5">输入/输出</td>
                    <td rowspan="5">接口</td>
                    <td>USB2.0x2</td>
                </tr>
                <tr>
                    <td>SD Card Reader*1</td>
                </tr>
                <tr>
                    <td>RJ45x1（千兆网1000Mbps）</td>
                </tr>
                <tr>
                    <td>HDMI OUT*1（不支持输出）</td>
                </tr>
                <tr>
                    <td>DC in x1</td>
                </tr>
                <tr>
                    <td rowspan="3">其他</td>
                    <td>产品配件</td>
                    <td>电源适配器<br>用户手册*1<br>网线*1</td>
                </tr>
                <tr>
                    <td>包装尺寸</td>
                    <td>171*120*85MM</td>
                </tr>
                <tr>
                    <td>电源适配器</td>
                    <td>12V/1.5A</td>
                </tr>
                </tbody></table>

        </div>

        <div class="product-things-list">
            <h4>玩客云产品包装清单</h4>
            <img src="resource/images/hardware/product-list.png">
        </div>


    </div>
</div>

