<!-- Docs page layout -->
<div class="" id="about">
    <div class="container about-banner">
        <p class="lead">
            <img  class="img-responsive" src="./resource/images/about/banner-about-default.jpg" alt="">
        </p>
    </div>



    <div class="container index-textcenter">
        <h2 class="index-bullet-title">关于Bullet产品</h2>
        <p class="lead">Bullet 是一个开放式内网穿透工具, 用于快速、便捷切换网络的路由器，它能帮助开发者实现内网调试，开发者与开发者之间的联调等工作。更能实现轻量级的网站应用，满足这些您只需要在您的电脑部署一个Bullet 客户端即可触手可及。</p>



        <p class="lead">Bullet 是完全开源的。它的代码托管、开发、维护都依赖 GitHub 平台。</p>
        <a href="https://github.com/wuweiit/Bullet" target="_blank" class="btn btn-outline btn-lg">查看 GitHub 项目主页</a>
    </div>


    <div class="container index-textcenter">

        <hr class="half-rule">

        <h2 class="index-bullet-title">团队成员</h2>
        <p class="lead"> </p>

        <div class="row">

            <div class="col-md-4 col-sm-4 wow fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                <h4>创始人</h4>
                <h3>Marker</h3>
                <p>Java开发者</p>
            </div>
        </div>
    </div>


    <div class="container index-textcenter">
        <hr class="half-rule">
        <h2 class="index-bullet-title">联系我们</h2>
        <p class="lead"> </p>
        <div class="row">
            <div class="col-md-4 col-sm-4 wow fadeIn animated"  style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                <img src="resource/images/icon/icon3.png" class="contact-support-icon" alt="技术支持">
                <h3>技术支持</h3>
                <p>admin@wuweibi.com</p>
            </div>
            <div class="col-md-4 col-sm-4 wow fadeIn animated" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                <img src="resource/images/icon/icon4.png" class="contact-support-icon" alt="赞助扶持">
                <h3>赞助扶持</h3>
                <p>903595558@qq.com</p>
            </div>
        </div>
    </div>


</div>