
.tunnels .item-text{
    margin-bottom: 4px;
    white-space: nowrap;
}
.tunnels .item-wrap{
    border: 1px #4c4c4c solid;
    padding: 10px 20px;
    overflow: hidden;
    /*height: 90px;*/
    margin-bottom: 20px;
    display: block;
    color:#000;
}

.tunnels .item-wrap:hover{
    cursor: pointer;
    background: #efefef;
    border: 1px #4CAF50 solid;
}
.tunnels .item-server{
    position: relative;
    margin: 0 auto;
    height: 66px;
    width: 80px;
}
.tunnels .item-icon {
    font-size: 80px; color:#383838;
    position: absolute;
    top: -3px;
}
.tunnels .item-status.label-success{
    background: #0de216;
}
.tunnels .item-status{
    display: block;
    background: #ffe300;
    width: 7px;
    height: 7px;
    z-index: 999;
    position: absolute;
    right: 5px;
    top: 8px;
    border-radius: 4px;
}




.tunnels .tunnels-feature-item{
    border:1px #ccc  solid;
    text-align: center;
    padding: 10px 0;
}

.tunnels .tunnels-feature-item p{
    color: #929292;
}
.tunnels .no-device-info{
    text-align: center;
    margin-top: 7rem;
}
.tunnels .bind-device{
    float: right;
}
.tunnels .bind-device:before{
    content: '';
}