<div style="margin-top:30px; "></div>
<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <blockquote>
                <p>购买服务</p>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-3" style="text-align: right"><span>域名</span>:</label>
					<div class="col-sm-9">
						<div type="email" ng-bind="user.email"
							 placeholder="{{res.t('register.email')}}"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3" style="text-align: right"><span>类型</span>:</label>
					<div class="col-sm-9">
						<div type="text" ng-bind="user.nickname" ></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3" style="text-align: right">时间:</label>
					<div class="col-sm-9">
						<div type="text" ng-bind="user.balance" ></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3" style="text-align: right">价格:</label>
					<div class="col-sm-9">
						<div type="text" ng-bind="user.balance" ></div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3" style="text-align: right">支付方式:</label>
					<div class="col-sm-9">
						<div style="  position: relative;  top: -6px;">
							<div class="radio radio-success radio-inline">
								<input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked>
								<label for="inlineRadio1">余额支付</label>
							</div>
							<div class="radio radio-success radio-inline">
								<input type="radio" id="inlineRadio2" value="option2" name="radioInline">
								<label for="inlineRadio2">微信支付</label>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3" style="text-align: right">服务协议:</label>
					<div class="col-sm-9">
						<div>《Bullet内网穿透服务协议》</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3" style="text-align: right" ></label>
					<div class="col-sm-9">
						<a class="btn btn-success" href="#"  >下单支付</a>
					</div>
				</div>
			</form>
        </div>

        <div class="col-md-6">
        </div>

    </div>
</div>