<!--
    @title 个人资料页面
    @author marker
    @createTime 2016-08-07

-->
<header class="demo-bar">
    <h1>个人资料</h1>

    <a class="btn-menu-bar btn-menu-list">
        <i class="am-menu-toggle-icon am-icon-bars"></i>
    </a>
</header>


<div id="widget-list">
    <ul class="am-list m-widget-list"
        style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
        <li class="profile-line"></li>
        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right">
            <a href="/widgets/accordion" data-rel="accordion">
                <div class=" am-u-sm-8 am-list-main">
                    <span
                            class="widget-name">头 像</span>
                </div>


                <div class="am-u-sm-4 am-list-thumb">
                    <img src="http://cdn.amazeui.org/src/2.2/widget/figure/src/figure.png" />
                </div>

            </a>




        </li>





        <li class="profile-line"></li>
        <li><a href="/widgets/divider" data-rel="divider">
            <img class="widget-icon"
                                                               src="http://cdn.amazeui.org/src/2.2/widget/divider/src/divider.png"
                                                               alt="Divider">
            <span
                class="widget-name">昵称</span></a></li>
        <li><a href="/widgets/duoshuo" data-rel="duoshuo"><img class="widget-icon"
                                                               src="http://cdn.amazeui.org/src/2.2/widget/duoshuo/src/duoshuo.png"
                                                               alt="Duoshuo"> <span
                class="widget-name">邮箱</span></a></li>
        <li><a href="/widgets/figure" data-rel="figure"><img class="widget-icon"
                                                             src="http://cdn.amazeui.org/src/2.2/widget/figure/src/figure.png"
                                                             alt="Figure"> <span class="widget-name">Figure</span></a>
        </li>
        <li><a href="/widgets/footer" data-rel="footer"><img class="widget-icon"
                                                             src="http://cdn.amazeui.org/src/2.2/widget/footer/src/footer.png"
                                                             alt="Footer">
            <span class="widget-name">密码</span></a>
        </li>

    </ul>
</div>

