<!--
    @title 发布秘密页面
    @author marker
    @createTime 2016-08-04

-->
<header class="demo-header demo-bar am-header-fixed">
    <h1>发布秘密</h1>
    <a class="btn-menu-bar btn-menu-list">
        <i class="am-menu-toggle-icon am-icon-bars"></i>
    </a>
</header>

<form name="myForm" class="am-form">

    <div id="allmap" style="height: 220px;"></div>
    <fieldset>
        <div class="am-form-group">
            <label>秘密内容</label>
            <textarea rows="5"  ng-model="entity.content"></textarea>
        </div>

        <p><button type="submit" ng-click="save()" class="am-btn am-btn-default">发 布</button></p>
    </fieldset>
</form>

<!--<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default ">-->
    <!--<ul class="am-navbar-nav am-cf am-avg-sm-4">-->
        <!--<li >-->
            <!--<a href="/mobi/secret.html" class="">-->
                <!--<span class="am-icon-phone"></span>-->
                <!--<span class="am-navbar-label">publish</span>-->
            <!--</a>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->