<div id="wrap-all">
    <div id="main" class="inner">
        <!-- // data-ng-controller="user_login_ctrl"_= -->
        <div class="other-warp login-wrap">

            <div class="single-panel clearfix">
                <div class="single-panel-inner login-mini">
                    <div class="single-panel-header">
                        <h3 style="text-align: center;padding-bottom: 30px;" ng-bind="res.t('user.login')"></h3>
                    </div>
                    <div class="single-panel-body">
                        <div class="single-panel-section">

                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputEmail" class="col-sm-2 control-label">账号</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" ng-model="user.name" id="inputEmail"
                                               ng-focus="nameMsg=''" placeholder="请输入账号"/>

                                        <span class="message" ng-bind="nameMsg"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-sm-2 control-label">密码</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="password" id="inputPassword"
                                               ng-model="user.pass" ng-focus="passMsg=''" placeholder="请输入密码"/>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="openvalid == true">
                                    <div class="input-group">
                                        <input class="form-control" type="password" placeholder="输入验证码"
                                               ng-model="user.code" style="width:120px"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button ng-click="login()" class="btn btn-success btn-lg btn-block"
                                                data-loading-text="登录中..." ng-bind="res.t('user.login')"></button>
                                    </div>
                                </div>


                                <div class="form-group" style="visibility: hidden">
                                    <p class="thirdparty_title">使用三方平台账号登录</p>
                                    <div class="col-sm-3">
                                        <a target="_self" href="/thirdparty/qq/login.face">
                                            <div class="login_with_thirdparty"><i class="fa fa-qq"></i></div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a target="_self" href="/thirdparty/qq/login.face">
                                            <div class="login_with_thirdparty"><i class="fa fa-weibo"></i></div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a target="_self" href="/thirdparty/qq/login.face">
                                            <div class="login_with_thirdparty"><i class="fa fa-wechat"></i></div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a target="_self" href="/thirdparty/qq/login.face">
                                            <div class="login_with_thirdparty"><i class="fa fa-twitter"></i></div>
                                        </a>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                    <div class="single-panel-footer">
                        <div class="pull-right">
                            <a href="#/forget">忘记密码？</a></div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>