<div style="margin-top:30px; "></div>
<div class="container domain-pay">

    <div class="row">
        <div class="col-xs-12">
			<ol class="breadcrumb">
				<li><a href="#">首页</a></li>
				<li><a href="#/user/domain">我的域名</a></li>
				<li><a href="#/user/domain/buy">购买资源</a></li>
				<li class="active">购买</li>
			</ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-3" style="text-align: right">
						<span ng-show="data.type == 2">域名:</span>
						<span ng-show="data.type == 1">端口:</span>
					</label>
					<div class="col-sm-9">
						<div>
							{{data.domainFull}}
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3" style="text-align: right"><span>类型</span>:</label>
					<div class="col-sm-9">
						<div ng-bind="data.typeName" ></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3" style="text-align: right">价格:</label>
					<div class="col-sm-9">
						<div>
							<b>{{data.salesPrice}}</b> 元/天 （原价：<span class="original-price">{{data.originalPrice}} 元/天</span>）
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3" style="text-align: right">时间:</label>
					<div class="col-sm-9">
						<div style="position: relative;  top: -6px;" ng-show="payType != 3">
							<div class="radio radio-success icheck-success">
                                <input id="inlineTimeRadio6" type="radio" value="1" name="payTime" ng-model="amount">
                                <label for="inlineTimeRadio6">1天</label>
                            </div>
							<div class="radio radio-success icheck-success">
								<input id="inlineTimeRadio1" type="radio" value="7" name="payTime" ng-model="amount">
								<label for="inlineTimeRadio1">1周</label>
							</div>
							<div class="radio radio-success icheck-success">
								<input id="inlineTimeRadio2" type="radio" value="30" name="payTime" ng-model="amount">
								<label for="inlineTimeRadio2">1月</label>
							</div>
							<div class="radio radio-success icheck-success">
								<input id="inlineTimeRadio12" type="radio" value="60" name="payTime" ng-model="amount">
								<label for="inlineTimeRadio12">2月</label>
							</div>
							<div class="radio radio-success icheck-success">
								<input id="inlineTimeRadio3" type="radio" value="90" name="payTime" ng-model="amount">
								<label for="inlineTimeRadio3">3月</label>
							</div>
							<div class="radio radio-success icheck-success">
								<input id="inlineTimeRadio13" type="radio" value="120" name="payTime" ng-model="amount">
								<label for="inlineTimeRadio13">4月</label>
							</div>
							<div class="radio radio-success icheck-success">
								<input id="inlineTimeRadio14" type="radio" value="150" name="payTime" ng-model="amount">
								<label for="inlineTimeRadio14">5月</label>
							</div>
							<div class="radio radio-success icheck-success">
								<input id="inlineTimeRadio4" type="radio" value="180" name="payTime" ng-model="amount">
								<label for="inlineTimeRadio4">6月</label>
							</div>
							<div class="radio radio-success icheck-success">
								<input id="inlineTimeRadio5" type="radio" value="360" name="payTime" ng-model="amount">
								<label for="inlineTimeRadio5">12月</label>
							</div>
						</div>
						<div class="input-group" style="width: 200px">
							<span class="input-group-addon">自定义</span>
							<input id="dayAmount" type="number" name="payTime" ng-model="amount"
								   class="form-control" ng-keyup="fixDays()">
							<span class="input-group-addon">天</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3" style="text-align: right">到期时间:</label>
					<div class="col-sm-9">
						<div>
							{{dueTime | showDate}}
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3" style="text-align: right">支付金额:</label>
					<div class="col-sm-9">
						<div>
							{{payMoney}} 元
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3" style="text-align: right">优惠金额:</label>
					<div class="col-sm-9">
						<div>
							{{discountMoney}} 元
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3" style="text-align: right">支付方式:</label>
					<div class="col-sm-9">
						<div style="position: relative;  top: -6px;">
							<div class="radio radio-success icheck-success pay-box" ng-show="showPackagePay">
								<input type="radio" id="inlineRadio3" value="3" name="radioInline" ng-model="payType">
								<label for="inlineRadio3"><span>VIP权益支付</span></label>
							</div>
							<div class="radio radio-success icheck-success pay-box">
								<input type="radio" id="inlineRadio1" value="2" name="radioInline" ng-model="payType">
								<label for="inlineRadio1">
								    <img src="resource/images/pay/alipay-icon.png" />
								</label>
							</div>
							<div class="radio radio-success icheck-success pay-box">
								<input type="radio" id="inlineRadio2" value="1" name="radioInline" ng-model="payType">
								<label for="inlineRadio2"><span>余额支付</span></label>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3" style="text-align: right"> </label>
					<div class="col-sm-9">
						<div>
							您的余额：{{user.balance}} 元
						</div>
					</div>
				</div>

<!-- 				<div class="form-group"> -->
<!-- 					<label class="col-sm-3" style="text-align: right">服务协议:</label> -->
<!-- 					<div class="col-sm-9"> -->
<!-- 						<div>《Joggle内网穿透服务协议》</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
				<div class="form-group">
					<label class="col-sm-3" style="text-align: right" ></label>
					<div class="col-sm-9">
						<a class="btn btn-success" ng-click="pay()" >下单支付</a>
					</div>
				</div>
			</form>
        </div>
 

    </div>
</div>
