<div style="margin-top:30px; "></div>
<div class="container package">

	<div class="row">
		<div class="col-xs-12">
			<ol class="breadcrumb">
				<li><a href="#">首页</a></li>
				<li><a href="#/user/profile">我的资料</a></li>
				<li>套餐列表</li>

<!--				<li class="bind-device">-->
<!--					<a href="#/user/device/bind">-->
<!--					<i class="fa fa-magnet"></i> <span ng-bind="res.t('home.btn.devicebind')"></span>-->
<!--					</a>-->
<!--				</li>-->
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3" ng-repeat="item in list">

			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">{{item.name}}</h3>
					<b ng-if="item.level != 0">{{item.price}}元/月</b>
					<b ng-if="item.level == 0">免费</b>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">可绑设备 <div class="pull-right">{{item.deviceNum}}台</div></li>
						<li class="list-group-item">
							套餐流量
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" ng-if="item.level == 0" title="新用户注册赠送流量"></span>
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" ng-if="item.level != 0" title="每个月的流量限额"></span>
							<div class="pull-right">{{item.flowNum/1024/1024}}GB</div>
						</li>
						<li class="list-group-item">隧道宽带
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="单条隧道宽带峰值"></span>
							<div class="pull-right">{{item.broadbandRate}}Mbps</div></li>
						<li class="list-group-item">端口隧道 <div class="pull-right">{{item.portNum}}个</div></li>
						<li class="list-group-item">域名隧道 <div class="pull-right">{{item.domainNum}}个</div></li>
						<li class="list-group-item">P2P隧道
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="不是所有网路都支持P2P打洞"></span>
							<div class="pull-right">{{item.p2pNum}}条</div></li>
						<li class="list-group-item">并发限制
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="同时间链接的数量"></span>
							<div class="pull-right">{{item.concurrentNum}}</div></li>
						<li class="list-group-item">代理支持 <div class="pull-right">{{item.proxyEnable==1?'支持':'-'}}</div></li>
						<li class="list-group-item">网络唤醒 <div class="pull-right">{{item.wolEnable==1?'支持':'-'}}</div></li>
					</ul>

					<div class="packages-btn">
						<a ng-if="item.level != 0" href="#/user/package/pay?packageId={{item.id}}" class="btn btn-success" role="button">升级套餐</a>
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-info" role="alert">
				注意：购买VIP套餐后，所有的资源可以通过VIP权益支付方式0元购买。<br/>
				需要无限速大宽带的用户，可以选择通道私有部署。
			</div>
		</div>
	</div>




</div>



