
.package .item-text{
    margin-bottom: 4px;
    white-space: nowrap;
}
.package .item-wrap{
    border: 1px #ccc solid;
    padding: 10px 20px;
    overflow: hidden;
    height: 90px;
    margin-bottom: 20px;
    display: block;
    color:#000;
}

.package .item-wrap:hover{
    cursor: pointer;
    background: #efefef;
    border: 1px #4CAF50 solid;
}
.package .item-server{
    position: relative;
    margin: 0 auto;
    height: 66px;
    width: 80px;
}
.package .item-icon {
    font-size: 80px; color:#383838;
    position: absolute;
    top: -3px;
}
.package .item-status.label-success{
    background: #0de216;
}
.package .item-status{
    display: block;
    background: #ffe300;
    width: 7px;
    height: 7px;
    z-index: 999;
    position: absolute;
    right: 5px;
    top: 8px;
    border-radius: 4px;
}




.package .package-feature-item{
    border:1px #ccc  solid;
    text-align: center;
    padding: 10px 0;
}

.package .package-feature-item p{
    color: #929292;
}
.package .no-device-info{
    text-align: center;
    margin-top: 7rem;
}
.package .bind-device{
    float: right;
}
.package .bind-device:before{
    content: '';
}








.package .list-group-item:first-child {
    border: 0;
}
.package .list-group-item:last-child {
    border-bottom: 0;
}
.package .list-group-item {
    border-left: 0px;
    border-right: 0px;
}

.package .packages-btn{
    height: 40px;
}

.package .list-group-item .glyphicon{
    color: #b6b6b6;
    cursor: pointer;
}