

#activate{
    padding-bottom: 50px;
}


#activate .masthead-links a{
    color:#ffffff

}
#activate .index-bullet-title{
    margin: 50px 0;
}
#activate .index-textcenter{
    text-align: center;
}
#activate .index-icon{
    width: 100px;
    margin: 0 auto;
}
