<div style="margin-top:30px; "></div>
<div class="container"> 
	<div class="row">
	  <div class="col-xs-3">
	  	<div>
			<div class="list-group">
				<a href="#/user/profile" class="list-group-item active">
					我的资料
				</a>
				<a href="#/user/device" class="list-group-item">
					我的设备
				</a>
				<a href="#/user/archives" class="list-group-item">绑定设备</a>
			</div>
	  	</div>
	  </div>
	  <div class="col-xs-9 ">
	  	<div class="panel panel-primary">
	      <div class="panel-heading">
	        <h3 class="panel-title">我的资料</h3>
	      </div>
	      <div class="panel-body">
	        
	        
	        
	        
	        
	        
	      </div>
	    </div>
	  
	  
	  
	  </div>
	 	
	</div>
</div>