<div style="margin-top:30px; "></div>
<div class="container device">

	<div class="row">
		<div class="col-xs-12">
			<blockquote>
				<p>我的设备</p>
			</blockquote>
		</div>
	</div>

	<!-- 状态说明 -->
	<div class="row" style="
    text-align: right;
    padding: 10px 20px;">
		<div class="col-md-12">
			<div>
				<span class="item-status label-success" style="display: inline-block; position: static"></span> 在线 &nbsp;
				<span class="item-status" style="display: inline-block; position: static"></span> 下线
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-4" ng-repeat="item in list">
			<a class="item-wrap" href="#/user/device/{{item.id}}/mapping">
				<div class="row">
					<div class="col-xs-4">
						<div class="item-server">
							<i class="fa fa-server item-icon"></i>
							<span class="item-status label-success" ng-if="item.status == 1"></span>
							<span class="item-status label-default" ng-if="item.status != 1"></span>
						</div>
					</div>
					<div class="col-xs-6" style="padding-left: 0;">
					 	<p class="item-text">别名：{{item.name}}</p>
					 	<p class="item-text">编码：{{item.deviceId}}</p>
					 	<p class="item-text">地址：{{item.intranetIp}}</p>
					</div>
				</div>
			</a>

		</div>


	</div>



	<div style="display: none">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">我的设备</h3>
			</div>
			<div class="panel-body">



				<table class="table table-hover">
					<thead>
					<tr>
						<th>序号</th>
						<th>设备名称</th>
						<th>设备标识</th>
						<th>IP地址</th>
						<th>上线时间</th>
						<th>状态</th>
						<th width="200">操作</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="item in list">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.deviceId}}</td>
						<td>{{item.intranetIp}}</td>
						<td>{{item.onlineTimeStr}}</td>
						<td>
							<span class="label label-success" ng-if="item.status == 1">在线</span>
							<span class="label label-default" ng-if="item.status != 1">离线</span>
						</td>
						<td>
							<a href="#/user/device/{{item.id}}/mapping" class="btn btn-default">配置</a>
							<a ng-click="editDevice(item)" class="btn btn-info">编辑</a>
							<a ng-click="delDevice(item)" class="btn btn-danger">删除</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

</div>




<!-- 编辑弹出框 -->
<div id="editDevice" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">编辑设备</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="a" class="col-sm-2 control-label">设备名称</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="item.name" class="form-control" id="a" placeholder="名称">
                        </div>
                        <div class="col-sm-4">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="b" class="col-sm-2 control-label">设备标识</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="item.deviceId"  class="form-control" id="b"  placeholder="设备设备标识" readonly>
                        </div>

                        <div class="col-sm-4">
                            <!--<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="d" class="col-sm-2 control-label">设备IP</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="item.intranetIp" ng-readonly=""  class="form-control"  id="d" placeholder="设备无IP" readonly>
                        </div>

                        <div class="col-sm-4">
                            <!--<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="c" class="col-sm-2 control-label">创建时间</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="item.createTimeStr"  class="form-control" id="c" readonly>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <a ng-click="save()" class="btn btn-default">保 存</a>
                <a ng-click="exit()"  class="btn btn-default">取 消</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- 删除弹出框确认 -->
<div id="delDevice" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">消息提示</h4>
			</div>
			<div class="modal-body">
				确定要删除该设备？
			</div>
			<div class="modal-footer">
				<a ng-click="confirmDeleteDevice()" class="btn btn-default">确 定</a>
				<a class="btn btn-default" data-dismiss="modal">取 消</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->