<div style="margin-top:30px; "></div>
<div class="container">

	<div class="row">
		<div class="col-xs-12">
			<blockquote>
				<p>设备详情</p>
			</blockquote>
		</div>
	</div>



	<div class="row">
	  <div class="col-xs-12">
	  	<div class="panel panel-primary">
	      <div class="panel-heading">
	        <h3 class="panel-title">设备端口映射</h3>
	      </div>
	      <div class="panel-body">

			  <table class="table table-hover">
				  <thead>
				  <tr>
					  <th>序号</th>
					  <th>外网地址</th>
					  <th>内网服务</th>
                      <th>状态</th>
                      <th>备注</th>
					  <th width="140">操作</th>
				  </tr>
				  </thead>
				  <tbody>
				  <tr ng-repeat="item in list">
					  <td>{{item.id}}</td>
					  <td>{{item.protocol | showProtocol}}://{{showDomain(item)}}.joggle.cn</td>
					  <td>
                          <span ng-if="item.protocol == 1 || item.protocol == 2 ">{{item.host}}:{{item.port}}</span>
                          <span ng-if="item.protocol == 3">tcp://{{item.host}}:{{item.port}}</span>
					  </td>
                      <td>
						  <span class="label label-success" ng-if="item.status == 1">启用</span>
						  <span class="" ng-if="item.status != 1"> - </span>
					  </td>
					  <td>{{item.description}}</td>
					  <td>

                          <a ng-click="addMapping(item)" class="btn btn-info">编辑</a>
						  <!--<a ng-click="addMapping(item)" class="btn btn-info">编辑</a>-->
						  <a ng-click="delMapping(item.id, $index)" class="btn btn-default">删除</a>
					  </td>
				  </tr>
				  </tbody>
			  </table>
	      </div>
	    </div>


		  <div>
			  <a ng-click="addMapping({status:true})" class="btn btn-default">添加端口映射</a>

		  </div>
	  
	  </div>
	 	
	</div>
</div>




<!-- 编辑弹出框 -->
<div id="addMapping" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">添加端口映射</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">

					<div class="form-group">
						<label for="b" class="col-sm-2 control-label">协议</label>
						<div class="col-sm-6">
							<select class="form-control" ng-model="item.protocol" >
								<option value="1">HTTP</option>
								<option value="3">HTTPS</option>
								<option value="2">TCP</option>
							</select>
						</div>
						<div class="col-sm-4"></div>
					</div>
                    <div class="form-group" ng-show="item.protocol == 1 || item.protocol == 3">
                        <label for="b" class="col-sm-2 control-label">域名</label>
                        <div class="col-sm-6">
                            <div>
                                <input ng-model="item.hostname" type="text" class="form-control"
                                        ng-show="item.id"  >
                                <input ng-model="item.hostname" type="text" class="form-control"
                                       ng-show="!item.id">
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="form-group" >
                        <label for="b" class="col-sm-2 control-label" >子域名</label>
                        <div class="col-sm-6">
                            <div>
                                <input ng-model="item.domain" type="text" class="form-control"
                                        ng-show="item.id"  >
                                <input ng-model="item.domain" type="text" class="form-control"
                                       ng-show="!item.id">
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
					<div class="form-group">
						<label for="b" class="col-sm-2 control-label">内网HOST</label>
						<div class="col-sm-6">
							<input type="text" ng-model="item.host"  class="form-control" placeholder="">
						</div>
                        <div class="col-sm-4"></div>
					</div>
					<div class="form-group">
						<label for="b" class="col-sm-2 control-label">端口</label>
						<div class="col-sm-6">
							<input type="number" ng-model="item.port"  class="form-control" id="b" placeholder="">
						</div>
						<div class="col-sm-4"></div>
					</div>
					<div class="form-group" ng-show="item.protocol == 2">
						<label for="b" class="col-sm-2 control-label">远端端口</label>
						<div class="col-sm-6">
							<input type="number" ng-model="item.remotePort"  class="form-control" id="" placeholder="">
						</div>
						<div class="col-sm-4"></div>
					</div>
					<div class="form-group" ng-show="item.protocol == 1 || item.protocol == 3">
						<label for="b" class="col-sm-2 control-label">简单认证</label>
						<div class="col-sm-6">
							<input type="text" ng-model="item.auth"  class="form-control" placeholder="user:password">
						</div>
						<div class="col-sm-4"></div>
					</div>
					<div class="form-group">
						<label for="b" class="col-sm-2 control-label">备注</label>
						<div class="col-sm-6">
                            <textarea class="form-control" ng-model="item.description" rows="3"></textarea>
						</div>
                        <div class="col-sm-4"></div>
					</div>
                    <div class="form-group">
                        <label for="my-checkbox1" class="col-sm-2 control-label" >状态</label>
                        <div class="col-sm-10">
                            <div class="switch" data-animated="true">
                                <input id="my-checkbox1" name="my-checkbox1" type="checkbox" checked />
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <a ng-click="save()" class="btn btn-default">保 存</a>
                <a ng-click="exit()"  class="btn btn-default">取消</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->