
.dashboard-h2{
    color: #32325d;
    font-size: 25px;
    margin: 8px auto;
}

.dashboard-icon{
    border-radius: 100px;
    background-color: #f5365c ;
    text-align: center;
    padding: 5px;
}
.dashboard-icon i{
    font-size: 30px;
    color: white;
}


