<div style="margin-top:30px; "></div>
<div class="container domain">

	<div class="row">
		<div class="col-xs-12">
			<ol class="breadcrumb">
				<li><a href="#">首页</a></li>
				<li><a href="#/user/domain">我的域名</a></li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4" ng-repeat="item in list">
			<div class="item-wrap">
				<div class="row">
					<div class="col-xs-8">
						<div style="">
							<p ng-if="item.type == 2" class="item-text" style="font-size: 20px;line-height: 20px;">
								<span class="domain_leftline"></span>
								{{item.domain +'.' + config.domain}}
							</p>
							<p ng-if="item.type == 1" class="item-text" style="font-size: 20px;line-height: 20px;">
								<span class="domain_leftline"></span>
								{{item.domain}}
							</p>
							<p class="item-text" style="color: #8c8c8c">
								<i class="fa fa-clock-o"></i> {{item.dueTime}}</p>

						</div>
					</div>
					<div class="col-xs-4">
						<a class="btn btn-default" href="#/user/domain/pay?domainId={{item.id}}"  >续费</a>
					</div>
				</div>
			</div>

		</div>


	</div>



	<div style="display: none">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">我的设备</h3>
			</div>
			<div class="panel-body">



				<table class="table table-hover">
					<thead>
					<tr>
						<th>序号</th>
						<th>设备名称</th>
						<th>设备标识</th>
						<th>IP地址</th>
						<th>上线时间</th>
						<th>状态</th>
						<th width="200">操作</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="item in list">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.deviceId}}</td>
						<td>{{item.intranetIp}}</td>
						<td>{{item.onlineTimeStr}}</td>
						<td>
							<span class="label label-success" ng-if="item.status == 1">在线</span>
							<span class="label label-default" ng-if="item.status != 1">离线</span>
						</td>
						<td>
							<a href="#/user/device/{{item.id}}/mapping" class="btn btn-default">配置</a>
							<a ng-click="editDevice(item)" class="btn btn-info">编辑</a>
							<a ng-click="delDevice(item)" class="btn btn-danger">删除</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

</div>



