<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuweibi.bullet.mapper.WeixinAccountMapper">


	<update id="updateByOpenId">
		update t_weixin set
		session_key = #{sessionKey},
		country = #{country},
		province = #{province},
		city = #{city},
		gender = #{gender},
		language = #{language},
		nick_name = #{nickName},
		avatar_url = #{avatarUrl},
		jwt_token = #{jwtToken}
		where open_id = #{openId}
	</update>


	<select id="existsOpenId" resultType="java.lang.Boolean">
		select count(1) from t_weixin where open_id = #{openId}
	</select>


</mapper>
