<div style="margin-top:30px; "></div>
<div class="container"> 
	<div class="row">
	  <div class="col-xs-3  "> 
		 <div class="list-group">
		  <a href="/user/profile.html" class="list-group-item ">
		    我的资料
		  </a>
		  <a href="/user/archives.html" class="list-group-item">个人档案</a>
		  <a href="/user/photos.html" class="list-group-item ">我的相册</a>
		  <a href="/user/messages.html" class="list-group-item ">我的消息</a>
		  <a href="/user/friends.html" class="list-group-item active">我的好友</a>
		  <a href="/user/wishs.html" class="list-group-item ">我的心愿</a>
		</div>
	  
	  
	  </div>
	  <div class="col-xs-9 ">
	  	<div class="panel panel-primary">
	      <div class="panel-heading">
	        <h3 class="panel-title">我的好友</h3>
	      </div>
	      <div class="panel-body">
	        
	        
	        
	        
	        
	        
	      </div>
	    </div>
	  
	  
	  
	  </div>
	 	
	</div>
</div>